{% extends "base.jinja" %}

{% block recipe %}

    <h1>{{ meal }}</h1>
    <p>Category: {{ category }}</p>
    <p>Area: {{ area }}</p>
    <p>Instructions: {{ instructions }}</p>
    <img src="{{ image }}" alt="Meal Image">
    <p>Tags: {{ tags }}</p>



{% endblock recipe %}
